{%- if collection.handle == "hand-tied-weft-extensions" -%}
<div class="prodinfo-link"><a href="/pages/hand-tied-weft-hair-extensions-complete-guide"><b><u>Complete Hand Tied Weft Guide</u></b></a></div>
{%- endif -%}
{%- if collection.handle == "poly-hair-extensions" -%}
<div class="prodinfo-link"><a href="/pages/polymer-hot-fusion-hair-extensions-complete-guide"><b><u>Complete Polymer Guide</u></b></a></div>
{%- endif -%}
{%- if collection.handle == "all-cylinder-hair-extensions" -%}
<div class="prodinfo-link"><a href="/pages/cylinder-itip-hair-extensions-complete-guide"><b><u>Complete Cylinder Guide</u></b></a></div>
{%- endif -%}
{%- if collection.handle == "curly-hair" -%}
<div class="prodinfo-link"><a href="/pages/curly-hair-extensions"><b><u>Complete Curly Guide</u></b></a></div>
{%- endif -%}


